---

---

<main class="h-screen w-full flex flex-col justify-center items-center bg-neutral ">
    <section class="bg-neutral">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <h1 class="mb-4 text-7xl tracking-tight font-black lg:text-9xl text-red ">404</h1>
                <p class="mb-4 text-3xl tracking-tight font-black uppercase text-black">Something's missing.</p>
                <p class="mb-4 text-md text-black">Sorry, I guess I didn't make that page yet. I hope you're not too
                    disappointed.</p>
                <a href="/"
                    class="border-black border-2 px-5 py-2.5 relative rounded group overflow-hidden transition-all inline-block">
                    <span
                        class="absolute flex w-64 h-20 -rotate-[4deg] transition-all duration-500 ease-out transform -translate-x-10 -translate-y-80 group-hover:-translate-y-5 bg-black"></span>
                    <span
                        class="font-black relative w-full text-left text-black transition-colors duration-300 ease-in-out group-hover:text-neutral">HOME</span>
                </a>
            </div>
        </div>
    </section>
</main>