---
import HomeLayout from '../layouts/HomeLayout.astro';
import VideoList from "../components/VideoList.astro";
import HomepageHero from "../components/HomepageHero.astro";
import MasonryGrid from '../components/MasonryGrid.astro';

---
<HomeLayout>
  <body>
    <HomepageHero />
    <!-- <VideoList /> -->
    <MasonryGrid />
  </body>
</HomeLayout>
