---

// import Header from './Header.astro';
// import Logo from './Logo.astro';
// import Footer from '../components/footer.astro';
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
// import { ViewTransitions } from 'astro:transitions';

--- 

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
    <!-- <ViewTransitions /> -->
  </head>

  <body class="bg-neutral min-h-screen flex flex-col selection:bg-pink selection:text-neutral">
      <Header />
      <div class="max-w-screen-xl mx-auto flex-1 lg:px-5 sm:px-1">
        <slot />
    </div>
      <Footer />
  </body>
</html>